/*

My Custom CSS
=============

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */


/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-brand{
   padding:11px 15px;    /*让标志显示在中间的位置*/
}   
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel {
   margin-top: 50px;
}

#myCarousel .item{
   height:400px;
}

.carousel-caption h4{
    font-family: 'Pacifico',cursive; 
    font-size:35px;
}

.carousel-caption p {
   font-size:15px;
}

#slide1{
   background-image:url('../../images/coffee1.jpg'); /*第一个两点显示的是自己的上一个folder(includes)，第二个两点显示的又是上一个folder(Final_Website)*/
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

#slide2{
   background-image:url('../../images/coffee2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

#slide3{
   background-image:url('../../images/coffee3.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */


/*这一部分的style 是starbucks history的一部分*/   

 body{
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
 }
 .well{
   margin-top: 20px;
 }

 .well .page-header {
    margin-top:0;
 }

 .well h1 {
    margin-top:0;
 }
.alert {
   margin-top: 20px;
   display: none;
}

/* --------------------------------------
   Features part
   -------------------------------------- */
#features{
   text-align: center;
}
#features img{
   margin-top: 0;
   margin-left:0;
   margin-bottom:10px; 
}

/* --------------------------------------
   tab part
   -------------------------------------- */
.thumbnail{
   margin-top: 0px;
   margin-left:0px;
   margin-right:10px;
   margin-bottom:10px;
}


/* --------------------------------------
   moreCourses"
   -------------------------------------- */
 #t1{
   position: relative;
 }

 .thumbnail h3{
   font-size: 16px;
   margin:0 0 10px;
   line-height: 20px;
 }

  .thumbnail .price{
      font-size:14px;
      top: -10px;
      position: absolute;
      right: -10px;
      padding:10px;
   }

   .thumbnail .price sup{
      font-weight: normal;
      font-size: 12px;
   }


   .thumbnail span .glyphicon {
      margin-right:5px;
   }


/* Portrait & landscape phone */
@media (max-width: 480px) {
   .thumbnail .price{
      font-size: 10px;
   }
}

footer{
   background-color: #DAFFFF;
   color:grey;
   font-size:11px;
   padding:20px;
}

ul.unstyled{
   list-style-type: none;
   padding-left: 10px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

   #myCarousel .item{
      height:310px;
   }

   #slide1{
      background-image:url('../../images/coffee1.jpg'); /*第一个两点显示的是自己的上一个folder(includes)，第二个两点显示的又是上一个folder(Final_Website)*/
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }

   #slide2{
      background-image:url('../../images/coffee2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }

   #slide3{
      background-image:url('../../images/coffee3.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }

   .carousel-caption p{
      font-size:16px;
   }

   .carousel-caption h4{
      font-size:22px;
   }
}

/* Large desktop，这一部分的code和 carousel是一样的，只是在large 和 medium中间可以
随着屏幕的大小，自由切换*/
@media (min-width: 1200px) {
	#myCarousel .item{
      height:500px;
   }

   #slide1{
      background-image:url('../../images/coffee1.jpg'); /*第一个两点显示的是自己的上一个folder(includes)，第二个两点显示的又是上一个folder(Final_Website)*/
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }

   #slide2{
      background-image:url('../../images/coffee2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }

   #slide3{
      background-image:url('../../images/coffee3.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
}
